{% extends "layouts/page-template.html" %}
{% block statusblock %}
<h2>Is Pokemon Go Online ?</h2>
<p class="lead">Ping: {{ping}} | Status: {{statusserver}}</p>
{% endblock %}

{% block content %}
<!-- Começo Post -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-3923243390262589"
     data-ad-slot="5038016383"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
{% endblock %}

{% block about %}
<p>This server is running on Digital Ocean at New York 1. This is the ping from New York location, if there is any mismatch or error create an Issue at <a href="https://www.github.com/vmesel/IPGOO">GitHub</a></p>
<p>This software was built to help players find out if they can leave home playing Pokemon Go when the servers are available!</p>
<p>Soon we will release an API to check if the Pokemon Go is running or in trouble!</p>
{% endblock %}

{% block footer%}
<b>Pokemon is a Nintendo Registered Trademark!</b> This is a cool software! See the source code on <a href="http://www.github.com/vmesel/IsPokemonGoOnline">GitHub</a>
{% endblock %}
